EDA-4. Статистические тесты

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
     data = [
        ['Финляндия', 7.84],
        ['Дания', 7.62],
        ['Швейцария', 7.57],
        ['Исландия', 7.55],
        ['Нидерланды', 7.46],
        ['Норвегия', 7.39],
        ['Швеция', 7.36],
        ['Люксембург', 7.32],
        ['Новая Зеландия', 7.28],
        ['Австрия', 7.27]
    ],
    columns= ['country', 'happyness_idx']
    )

In [3]:
display(df)

          country  happyness_idx
0       Финляндия           7.84
1           Дания           7.62
2       Швейцария           7.57
3        Исландия           7.55
4      Нидерланды           7.46
5        Норвегия           7.39
6          Швеция           7.36
7      Люксембург           7.32
8  Новая Зеландия           7.28
9         Австрия           7.27

In [4]:
df['happyness_idx'].mean()

7.465999999999999