In [3]:
# Standard python libraries
import os
import time

# Essential DS libraries
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import torch

# # LightAutoML presets, task and report generation
# from lightautoml.automl.presets.tabular_presets import TabularAutoML
# from lightautoml.tasks import Task

In [4]:
N_THREADS = 4
N_FOLDS = 5
RANDOM_STATE = 42
TEST_SIZE = 0.2
TIMEOUT = 1500 # equal to 25 minutes
TARGET_NAME = 'final_price'

In [5]:
np.random.seed(RANDOM_STATE)
torch.set_num_threads(N_THREADS)

In [67]:
INPUT_DIR = './Kaggle_0/'

In [196]:
train_data = pd.read_csv(INPUT_DIR + 'train_data.csv')
print(train_data.shape)
train_data.head(3)

(35000, 15)

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type,final_price
0,0,TOYOTA,Aqua s,Sedan,133000,2014,Automatic,4/5,Right-hand drive,Silver,Black,NaN,0,For Sale,3650.0
1,1,MERCEDES-BENZ,C 220,Sedan,24500,2010,Manual,4/5,Left wheel,Silver,Black,NaN,0,For Sale,6800.0
2,2,HYUNDAI,Veloster,Hatchback,31000,2016,Tiptronic,2/3,Left wheel,Silver,Black,KMHTC6AE3GU293912,1,For Sale,6300.0

In [8]:
test_data = pd.read_csv(INPUT_DIR + 'test_data.csv')
print(test_data.shape)
test_data.head(3)

(10697, 14)

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type
0,35000,TOYOTA,Prius,Hatchback,323733,2012,Automatic,4/5,Left wheel,Grey,Black,JTDKN3DU6C5439638,1,For Sale
1,35001,HYUNDAI,Elantra,Sedan,112000,2013,Tiptronic,4/5,Left wheel,Grey,Black,SURATSHIA,1,For Sale
2,35002,LEXUS,NX 300,Jeep,16920,2018,Automatic,NaN,Left wheel,Brown,NaN,JTJYARBZ5J2104521,1,For Sale

In [9]:
submission = pd.read_csv(INPUT_DIR + 'sample_submission.csv')
print(submission.shape)
submission.head(3)

(10697, 2)

   row_ID  final_price
0   35000            0
1   35001            0
2   35002            0

In [208]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   row_ID                  35000 non-null  int64
 1   vehicle_manufacturer    34999 non-null  object
 2   vehicle_model           34993 non-null  object
 3   vehicle_category        34999 non-null  object
 4   current_mileage         35000 non-null  int64
 5   vehicle_year            35000 non-null  int64
 6   vehicle_gearbox_type    34999 non-null  object
 7   doors_cnt               34255 non-null  object
 8   wheels                  34999 non-null  object
 9   vehicle_color           34599 non-null  object
 10  vehicle_interior_color  28282 non-null  object
 11  car_vin                 35000 non-null  object
 12  car_leather_interior    35000 non-null  int64
 13  deal_type               35000 non-null  object
 14  final_price             35000 non-null  float64
dtypes: float64(1), int64(4), object(10)
memory usage: 4.0+ MB

In [198]:
train_data['car_vin'].value_counts()

 4T1BD1FK7EU114553     42
 3VW1K7AJ6EM438747     42
 4T1BD1FK6EU137614     41
 4T1BD1FK2CU027785     40
 4T1BD1FK4DU085902     40
                       ..
 5XXGN4A75EG263349      1
 2T3BFREV1JW759334      1
 4T1BF1FK1CU597366      1
 4T1BB46K19U081594      1
 3FA6P0K98DR308742      1
Name: car_vin, Length: 4288, dtype: int64

In [199]:
def append_wmi(wmis, vendor, car_vin):
    """ This function appends new element in dictionary
        if not exist

    Args:
        wmis (dictionary of the lists of the codes) like {'manufacturer": ['JTG', '1T4', ... 'JTD']} 
        vendor (text string): name of the vehicle manufacturer
        car_vin (text string): serial of the numbers and symbols (max 17)
    """
    if car_vin in ['nan', 'NaN']:
        return
    wmi = car_vin[:3]
    #print(wmi)
    if vendor not in wmis.keys():
        wmis.update({vendor: list()})
        wmis[vendor].append(wmi)
        #print(vins)
    elif wmi not in wmis[vendor]:
        wmis[vendor].append(wmi)
        #print(vins)
    return

In [200]:
def append_vdc(vdcs, model, car_vin):
    """ This function appends new element in dictionary
        if not exist

    Args:
        vdcs (dictionary of the lists of the codes) like {'model": ['XC', 'SD', ... 'SC']}
        model (text string): name of the vehicle model
        car_vin (text string): serial of the numbers and symbols (max 17)
    """
    if car_vin in ['nan', 'NaN'] or not len(model):
        return
    vdc = car_vin[3:5]
    #print(vin_model)
    if model not in vdcs.keys():
        vdcs.update({model: list()})
        vdcs[model].append(vdc)
        #print(vin_model)
    elif vdc not in vdcs[model]:
        vdcs[model].append(vdc)
        #print(vins)
    return

In [201]:
def get_vin_parts(df):
    """ This function collect existing vin-codes into dictionary
        for future implementations

    Args:
        df (pandas.DataFrame): The source data that we use for collecting
    """
    wmis_dict = dict()
    vdcs_dict = dict()
    
    for row in df.index:
        car_vin = str(df['car_vin'].iloc[row])
        if len(car_vin) > 3:
            car_vin = car_vin[1:-1]
            vendor = str(df['vehicle_manufacturer'].iloc[row])
            append_wmi(wmis_dict, vendor, car_vin)
            
            model = str(df['vehicle_model'].iloc[row])
            append_vdc(vdcs_dict, model, car_vin)
    return wmis_dict, vdcs_dict

In [202]:
wmis, vdcs = get_vin_parts(train_data)
display(wmis, vdcs)

{'HYUNDAI': ['KMH', '5NP', 'KM8', '5NM', '5XY', 'WWW', 'VIN', '123', 'SXY'],
 'TOYOTA': ['JTN',
  '4T1',
  'JTE',
  '3TM',
  'JTD',
  'NMT',
  '5TF',
  '4T4',
  '5TD',
  'JTM',
  '2T3',
  '111',
  '5YF',
  '5TE',
  'THB',
  '2T1',
  'NHP',
  '3MY',
  '000',
  '457',
  '123',
  'EUR',
  '4T3',
  'WDC',
  'AM5',
  'XAC',
  'SCP',
  'JTF',
  'VIN',
  'OV1',
  'JYD',
  '454',
  'TYG',
  'BV7',
  'JN8',
  'VNK'],
 'MERCEDES-BENZ': ['4JG',
  'WDC',
  'WDD',
  'WDB',
  '122',
  'VDD',
  '55S',
  'WDF',
  '111',
  '333',
  'OTA',
  'KPB',
  '222',
  '101',
  'WME',
  'WD3',
  'geo',
  'WDA',
  'FDG',
  '260',
  'IPI',
  'TT',
  '900',
  '123',
  'KAF',
  '171'],
 'NISSAN': ['JN8',
  '123',
  '1N4',
  '3N1',
  'Z8N',
  '111',
  '655',
  '245',
  'ZE0',
  '788',
  '599',
  '564',
  'GUV',
  '12',
  '5N1',
  'DD',
  '899',
  '598',
  '122',
  'VSK',
  'UHH',
  'NIS',
  '1N6'],
 'LEXUS': ['JTJ', 'JTH', '2T2', '58A'],
 'AUDI': ['WA1', 'WAU', 'geo', 'UN', 'WUA'],
 'BMW': ['5UX',
  'WBA',
  'WBX',
  '123',
  '4US',
  'AM5',
  '135',
  '5YM',
  '234',
  'WBY',
  '444',
  'WBS',
  '69T',
  '66G',
  '111',
  'HSH',
  '416',
  'WD1',
  'LT7',
  '578',
  'SUR',
  'AM3',
  '219',
  'VBA',
  'FFI',
  'DFH'],
 'VOLKSWAGEN': ['3VW',
  '1VW',
  '1FA',
  '111',
  'WVG',
  'WVW',
  'XNX',
  '123',
  '2V4',
  '1KW',
  '555',
  'WVA'],
 'CHEVROLET': ['1G1',
  '2G1',
  '3G1',
  '3GN',
  'KL1',
  'KL8',
  '2GN',
  'JTN',
  '4S4',
  'KLY'],
 'SUBARU': ['JF2', 'JF1', 'GGW', 'VIN', '4S4', '4S3', 'SF5', 'BP9', 'HEH'],
 'MAZDA': ['JM1', '1YV', 'JM3', '3MZ', 'JMZ', 'GG3', '...'],
 'MINI': ['WMW', 'WMZ'],
 'FORD': ['1FM',
  '3FA',
  '1ZV',
  '1FA',
  '1FT',
  'WFO',
  'VR2',
  'MAJ',
  '4M2',
  'NM0',
  'AV3',
  '123',
  'TY5',
  '765',
  '121',
  '111',
  '2G1'],
 'DODGE': ['2G1',
  '1C3',
  '2C3',
  '1D7',
  '2D4',
  '1B3',
  '1B7',
  '1D4',
  'RR-',
  'ZFB'],
 'MITSUBISHI': ['4A4',
  'JA4',
  'PD6',
  'JA3',
  'WCW',
  'geo',
  'CV5',
  'ML3',
  'JMY',
  '111'],
 'JEEP': ['1J4', '1C4', '3C4'],
 'HONDA': ['JHM',
  '2HG',
  '3CZ',
  '19X',
  'RG4',
  '2HK',
  '5J6',
  '268',
  'RR1',
  'JHL',
  '5FN',
  'GB2',
  'RT4',
  '701',
  '3HG',
  '111'],
 'SUZUKI': ['AGG', 'JS2', 'ZFA', 'JS3'],
 'OPEL': ['W0L',
  'FHK',
  '...',
  'HHB',
  'AN',
  'W08',
  'WO8',
  'WOL',
  'TYU',
  '358',
  '999',
  '000',
  'GIO',
  'AST',
  '654',
  'BV3',
  'geo',
  '257',
  '12',
  '111',
  'OV1',
  '00'],
 'PORSCHE': ['WP1', 'WP0', 'WPI'],
 'KIA': ['5XX', 'BV3', '5XY', 'KNA', 'KND', '413', '3KP'],
 'FIAT': ['3C3', 'ZFB', 'JC1'],
 'LAND ROVER': ['SAL'],
 'VAZ': ['XTA', 'W11', '999', 'RV0', 'OOO'],
 'INFINITI': ['JN1', '5N1', 'JN8', '3PC', 'SJK'],
 'FERRARI': ['ZFF'],
 'JAGUAR': ['SAJ', 'SAD'],
 'SSANGYONG': ['KPB', 'KPA'],
 'TESLA': ['5YJ'],
 'ASTON MARTIN': ['SCF'],
 'LINCOLN': ['3LN', '5LM'],
 'CHRYSLER': ['1C3'],
 'SKODA': ['TMB'],
 'VOLVO': ['YV1', 'YV4'],
 'MG': ['LNP'],
 'BUICK': ['KL4'],
 'CADILLAC': ['1G6'],
 'GREATWALL': ['LGW'],
 'DAIHATSU': ['VFG'],
 'SEAT': ['599'],
 'RENAULT': ['VF1'],
 'MERCURY': ['4M2'],
 'BENTLEY': ['SJA', 'SCB']}

{'Veloster': ['TC', 'T3', 'TG', ':K', 'TH'],
 'CHR': ['KH'],
 'GLE 350': ['DA', 'FB', 'ED'],
 'Juke': ['AF', 'DF'],
 'GX 470': ['BT', 'JM', 'BM'],
 'Q5': ['VF',
  'AN',
  'D7',
  'LF',
  'DK',
  'WK',
  'L2',
  'C8',
  'DG',
  'BN',
  'C2',
  'CM'],
 'X5': ['ZW',
  'KS',
  'ZV',
  'KR',
  'JU',
  'FA',
  'FF',
  '4',
  'KT',
  'FB',
  'FE',
  '51',
  '43',
  'CR',
  'AT',
  'GY',
  'LS',
  '64',
  'HS'],
 'Camry': ['BD', 'B1', 'BF', 'BK', 'B3', 'B6', 'BB', 'B2', 'BE', 'BZ', 'AF'],
 'Highlander': ['DC',
  'EW',
  'BK',
  'ES',
  'JW',
  'JK',
  'ZK',
  'DK',
  'JZ',
  'BC',
  'YK',
  'DG'],
 'Jetta': ['26',
  'DX',
  'B0',
  '1K',
  '46',
  'LL',
  'DB',
  'DP',
  'L1',
  'D1',
  'LA',
  'C5',
  'SF',
  'LZ',
  '2K',
  '4A',
  'D6',
  'RZ',
  '3L',
  'DZ',
  'RM',
  'D0',
  '63',
  '2B',
  'B1',
  'DK',
  'SA',
  'KE'],
 'Volt': ['RH', 'RC', 'RG', 'RD', 'RB', 'RE', 'RF', 'RA'],
 'GLA 250': ['TG'],
 'CT 200h': ['KD'],
 'E 350': ['HF', 'BB', 'KK', 'KJ', 'UF', '21'],
 'GX 460': ['JM', 'BM'],
 'Elantra': ['D7', 'DH', 'D0', 'D8', 'D3'],
 'Tacoma': ['JU',
  'CZ',
  'AZ',
  'JX',
  'NX',
  'MU',
  'UU',
  'DZ',
  'RZ',
  'TU',
  'LU',
  'AX',
  'TX',
  'UX'],
 'Prius': ['KN', 'KA', '11', 'KB', 'KD', '', '85', '56', 'ZN', '42', 'NK'],
 'Forester': ['SH', 'SJ', ':J', '15'],
 'E 400': ['1K', '1J', 'KK'],
 'Mx-5 Miata': ['ND'],
 'Cooper S Cabrio': ['XU', 'LU'],
 'Sonata': ['EC', 'E2', 'E5', 'E3', 'EB', '45'],
 'Escape': ['CU', '11'],
 'WRX': ['VA'],
 'IS 250': ['BF', 'BK'],
 'Fusion': ['6P', 'DP', 'HP'],
 'Elantra RESTAYLING': ['DH'],
 'Q3': ['BF', 'EF'],
 'Tundra': ['RM', 'UY', 'AW', 'DW', 'UM', 'HW', 'FY', 'RY', 'DY', 'EY'],
 'Challenger': ['FE', 'CD'],
 'Countryman S': ['ZC'],
 'E 300': ['ZF', '1K', '44'],
 'Cruze': ['PC',
  'PE',
  'BC',
  'BE',
  'PH',
  'PD',
  'PG',
  'PF',
  'PA',
  'BR',
  'PB',
  'P7',
  'BF'],
 'ML 350': ['BB', 'DA', 'AB'],
 '740': ['KB', 'YA', 'HL', 'KA'],
 'X6': ['FG', 'KU', 'GZ', 'KW'],
 'Prius hybrid': ['KN'],
 '328': ['3C', '8E', '3A', '4', 'WB', '3B', 'PH', 'PK', '8'],
 'Outlander SPORT': ['AP', 'AR'],
 'Avalon': ['BD', 'BK'],
 'X1': ['HT', 'VM', 'VL', 'HU'],
 'Note': ['45', '2K', 'FF', '97'],
 'HS 250h': ['BB'],
 'NX 200': ['BJ', 'BA', 'YA', 'YW', 'BE'],
 'RX 450': ['BK', 'BG', 'ZB', 'BC', 'BZ', 'ZZ', 'ZK', 'GK'],
 'Wrangler': ['BA', 'BJ'],
 'RC F': ['HE', 'SE', 'HA'],
 'Tucson': ['JU', 'J3', 'JT', 'J2', 'JN'],
 'Prius C': ['KD', ': '],
 'A4': ['AF', 'FF', 'HF', 'AN', 'EN', 'EF', '', 'DF', 'GM'],
 'Insight': ['ZE'],
 'Grand Vitara': ['22', 'TD'],
 'A7': ['WG', '2G', '3G', '23', 'YG'],
 'RX 350': ['ZZ', 'BK', 'ZK', 'BZ', 'GZ', 'HK', 'HZ'],
 'R 350': ['BB', 'CB'],
 'Elantra SE': ['D8', 'D7', 'DH'],
 '528': ['FR', '5A', 'NV', 'NU', 'XH', 'XG'],
 'S 550': ['UG', 'NG'],
 'Passat': ['BM',
  'AT',
  'DT',
  'BA',
  'CM',
  'AH',
  'AP',
  'BT',
  'BH',
  'CV',
  'BP',
  'BS',
  'AS',
  'CS',
  'CN',
  'AK',
  'LA',
  'CK',
  'CP'],
 'Avenger': ['CD'],
 'Q7': ['LM', 'LG', 'DG', 'WM', 'CG', 'LA', 'VA', 'AH', 'ZZ', 'ca'],
 'XV': ['GP'],
 'Santa FE': ['S2', 'ZU', 'SR', 'SM', 'S5'],
 'Astra G': ['0T'],
 'Fiesta': ['DP'],
 'RS7': ['W2'],
 'Vectra': ['BH', '', '0J', '00', '9', 'OJ', '21'],
 '320': ['3B', 'UF', '3C', '8E', '8A', '70', 'PP', 'VC'],
 'Mustang': ['BP', '6P', 'TP', 'HT', 'FE'],
 'Malibu LT': ['ZE', 'ZD'],
 'GL 450 4MATIC': ['BF'],
 '535': ['FR', 'XA', 'FV', 'FU', '5B', '2C', 'NW'],
 'Sienna': ['DZ', 'YK', 'ZZ', 'KK', 'JK', 'DK', 'XK'],
 'A6 C7': ['GG'],
 'F150': ['EW', 'MF'],
 'Camaro': ['FK', 'FD', 'FH', 'FA', 'FE', 'FB', 'FJ', 'FG', 'FC', 'FT'],
 'Q7 sport': ['LG'],
 'Fusion se': ['6P'],
 'RAV 4': ['RF',
  'BF',
  'JF',
  'ZF',
  'DJ',
  'DF',
  'RJ',
  'F1',
  'YF',
  'P1',
  'WF',
  'K1',
  'BA',
  'NF'],
 'Camry sport': ['BF'],
 'Cayenne': ['AA', 'AD', 'AE', 'AB', 'AF', 'ZZ'],
 '911': ['CB', 'AA', 'AB', 'AF', 'CA'],
 '626': ['GF'],
 'Optima': ['GR', '49', 'GN', 'GM', 'GT', '2E', 'GU', 'FL'],
 'Highlander HYBRID': ['EW'],
 'C-MAX SEL': ['DP'],
 'Panamera': ['AB', 'AA', 'AF', 'AD'],
 'LS 460': ['CL', 'BL'],
 'Fiesta SE': ['DP'],
 'Impreza': ['GP', 'GH', 'GJ', 'GV', 'GR', 'SH'],
 'Tucson SE': ['J3', 'J2'],
 'Cruze LT': ['BE', 'PF', 'BD'],
 'Prius V': ['ZN'],
 '335': ['KF', 'DX', 'PL', '3A', '3B'],
 'Ramcharger': ['CD'],
 'Outlander ES': ['AD'],
 'Sorento': ['KT'],
 'SX4': ['YB', 'YC'],
 'macan': ['AB', 'AA', 'AG'],
 'Focus SE': ['DP', 'HP'],
 'ML 500': ['AB', 'BB'],
 'Altima': ['AL', '43', '64', 'CL'],
 'Jetta SE': ['D1', 'DB', 'D6'],
 'Focus': ['DP', 'NX', 'HP', '6P', '45', 'SX'],
 'A6': ['DG', 'GF', 'FG', 'BG', 'E8', 'DH'],
 'RX 400': ['HW', 'GK', 'HK', 'BK', 'BZ'],
 'Sonata Limited': ['EC'],
 'Corolla LE': ['BU'],
 '500 Turbo': ['CF'],
 'Civic': ['FC', 'FB', '49', 'FA', 'FG'],
 'FIT': ['GE', 'GK', '70'],
 'Liberty': ['PJ', 'GL', 'PN'],
 'CX-9': ['TB', 'TC'],
 'Jetta sport': ['DP', 'D1'],
 'C-MAX': ['DP'],
 'RX 400 RESTAILING': ['HW'],
 'Accent SE': ['CT'],
 'C 240': ['20', '', '7'],
 'Range Rover SPORT': ['SF'],
 '2121 (Niva)': ['21', '91'],
 'Fusion s': ['6P'],
 'Delica': ['W-', 'W0'],
 'CX-7': ['ER'],
 '535 I': ['5B'],
 'X5 X-Drive': ['FE'],
 'Corolla S': ['BU'],
 'Dart': ['CD'],
 'Azera': ['FH'],
 '325': ['61', 'AV', 'GF'],
 'Volt PREMIUM': ['RH'],
 'Leaf': ['AZ', '00'],
 'GLE 63 AMG': ['DA'],
 'Grand Cherokee': ['RJ', 'GZ', 'NJ'],
 '500': ['CF'],
 'Prius მე-2 თაობა': ['KB'],
 'Outlander sport': ['AR', 'AP'],
 'Mazda 3 SPORT': ['BM'],
 'CX-5': ['KE', 'KF'],
 'NEW Beetle': ['VA'],
 'Camry XLE': ['BD', '16', 'BF'],
 'ES 300': ['BW'],
 'Z4 3.0': ['BT'],
 'ES 350': ['BK', 'BW', 'BZ'],
 'G37': ['CV'],
 '750': ['KC', 'YE', '7F'],
 'X3': ['TR', 'WX', 'WZ', 'PA', 'PC'],
 'C 180': ['20', '22'],
 'Hilux': ['CZ'],
 'E 350 BLUETEC': ['HF'],
 'Countryman': ['ZC'],
 'Sorento EX ': ['KT'],
 '208': ['23'],
 'C 63 AMG': ['WJ'],
 'Sonata 2015': ['E2'],
 'GL 63 AMG': ['DF'],
 'Jetta TDI': ['3L'],
 'CLA 250': ['SJ'],
 'Discovery': ['LA'],
 'Range Rover': ['MF', 'GS'],
 'Q50': ['BV', 'EV'],
 'Golf': ['1', 'NM', '4', 'DB', '55', 'DM'],
 'E 350 4 MATIC': ['HF'],
 'Astra': ['00', 'KB', 'AT', 'U', '20', '0T', 'RA', '0A', '86', '', '09'],
 '428': ['4J', '3N', '4P', '4W', '3V'],
 'Fusion TITANIUM': ['6P'],
 'Cooper': ['SU', 'XM', 'ZB', 'YS', 'MF', 'XU', 'XS', 'ML', 'ZN'],
 'X5 E70': ['FE'],
 'California': ['65', '89'],
 'Corsa': ['..'],
 'Q5 Quattro': ['LF'],
 'A6 QUATTRO': ['ZZ'],
 'E 350 ამგ': ['HF'],
 'C 300': ['WF', 'GF', 'WK'],
 'Sprinter 315CDI': ['90'],
 'Touareg': ['EK', 'ZE', 'ND'],
 'Passat SEL': ['CS'],
 'Vito': ['63', '4'],
 'C 250': ['GF', 'GJ', '20'],
 'JX35': ['AL'],
 'Cruze LT RS 2014': ['PE'],
 'Sentra': ['AB'],
 'Scirocco': ['BN', 'NP'],
 'Insight EX': ['ZE'],
 'E 280': ['21', 'G'],
 'RX 450 HYBRID': ['BC'],
 'GL 350': ['DF', 'BF'],
 'C 250 W204': ['GF'],
 'E 500 AVG': ['21'],
 'Malibu': ['1D', 'ZB', 'ZE', 'ZD'],
 'G 550': ['YC'],
 'Camry HYBRID': ['BD', 'BB'],
 'Focus se': ['DP'],
 'Cr-v': ['RM', 'RE', 'RD'],
 'Legacy': ['76', 'BM', 'BN'],
 'Outlander': ['AR', 'AD', 'MT', 'AP', 'AZ', '5', 'AT'],
 'Fusion Hybrid': ['6P'],
 'X5 Japan': ['FE'],
 'Aqua': ['10'],
 'C 200': ['20'],
 'CLS 55 AMG': ['2J', 'UG', 'LJ'],
 'RAV 4 4DR SPOR': ['BF'],
 'Range Rover Evoque': ['VR', 'VP'],
 'Camry se': ['BF', 'B1'],
 'Rogue': ['AS', 'AT', 'ET'],
 'X-Trail': ['TA', ''],
 'C-MAX Titanium': ['DP'],
 'XJ6': ['WJ', 'WA'],
 'Auris': ['KA'],
 'REXTON SUPER': ['FA'],
 'Elantra GT': ['D3'],
 'CLS 550': ['LJ', 'DJ'],
 'CLS 63 AMG': ['LJ'],
 'Optima hybrid': ['GM'],
 'Sonata limited': ['EC'],
 'Juke NISMO': ['AF'],
 'F-type': ['D5', 'WA'],
 'Versa': ['BC', 'CC', 'CN'],
 '525 tds': ['DF'],
 'Sportage SX': ['PC', 'PR'],
 'Jetta SEL': ['LZ'],
 'Patriot Latitude': ['NJ'],
 'Hr-v EXL': ['RU'],
 '328 f30': ['3A'],
 'Passat B7': ['AP', 'BH'],
 'Corolla YARIS IA': ['DL'],
 'Elantra Limited': ['DH', 'D8'],
 '1000': ['KF', 'KE', 'DK'],
 'ML 320': ['BB', '16'],
 'GLA 200': ['15'],
 'Transit': ['34', 'VX', '45', '35', 'LX'],
 'Camry Hybrid': ['BD'],
 'kona': ['K6', 'K1', 'K3', 'K2'],
 '114': ['KB', '5R', '8E'],
 'C 250 luxury': ['GF'],
 'Atenza': ['S1'],
 'Model S': ['SA', '3E'],
 'Dakota': ['RW'],
 'Pathfinder': ['11', '', 'AR', 'JV'],
 'SOUL': ['JN', 'JT'],
 'Lancer': ['AU'],
 'Mazda 6': ['GJ', 'GL', ''],
 '270': ['', 'G'],
 'S 350': ['1K', '22'],
 '528 2.0 ტურბო': ['5A'],
 'Highlander limited': ['JW'],
 'DB7 Vantage Volante': ['AB'],
 'Enzo Ferrari': ['68'],
 'F-pace': ['CA', 'CK'],
 '525': ['32', 'DT', '51', 'DD'],
 'Corolla': ['BU', 'O4', 'KA', 'EB'],
 'S 500': ['0'],
 'EcoSport': ['3P'],
 'Sprinter': ['R', 'PE'],
 'Trax': ['CJ'],
 'Passat b8': ['AT'],
 '4Runner': ['BU', 'KA', 'KH', 'DL', 'ZU'],
 'Step Wagon': ['10'],
 'RX 300': ['HW'],
 'ML 350 super rexton': ['FA'],
 '550': ['FR', 'FU', 'KN'],
 'Yaris IA': ['DL'],
 'GL 550': ['DF', 'BF'],
 'Tucson 2.0': ['JT'],
 'S 63 AMG': ['UG', '22'],
 '320 I XDRIVE': ['3C'],
 'Camry SE': ['B1', 'BF', 'BD', 'BE'],
 'Prius ჰეჩბექი': ['KN'],
 'Elantra limited': ['D8', 'DH'],
 'RS4': ['HG', 'DG'],
 'Malibu Hybrid': ['ZF'],
 'G 63 AMG': ['YC'],
 'C 230 kompresor': ['RF'],
 'Aveo': ['TD'],
 'E 320': ['UF', '', '21'],
 'NX 300': ['YA', 'GA', 'BA'],
 'X5 4.8is': ['FA'],
 'FIT SPORT': ['GE'],
 '530': ['45', '', 'NA', 'FW', 'JA'],
 'A5': ['LF'],
 'Spark': ['CB', 'MA', 'CF'],
 'RIO': ['DN', 'DM'],
 'Civic EX': ['FG', 'FB', 'FC'],
 'Fusion 1.6': ['6P'],
 'Escape HYBRID': ['CU'],
 'Cruze PREMIER': ['BG', 'BF'],
 'LX 570': ['HY'],
 'Jetta GLI': ['4T', '4S', '5A', 'FJ'],
 'i3': ['1Z', '7Z'],
 'Forester 2.0XT (TURBO)': ['SJ'],
 'Vectra c': ['OZ'],
 'CLS 500': ['0'],
 'C-MAX PREMIUM': ['DP'],
 'Santa FE Ultimate': ['ZW'],
 '500L': ['CF'],
 'Impreza WRX/STI LIMITED': ['VA'],
 'A6 PREMIUM PLUS': ['GG'],
 'C 220': ['20', '0'],
 'ES 300 HIBRID': ['BW'],
 '735': ['GG'],
 'MKZ': ['6L'],
 'Optima ex': ['GU'],
 'E 430  AVANTGARDE ': ['21'],
 'R 320': ['BB'],
 'E 36 AMG': ['HF'],
 'Optima eco ': ['GM'],
 'Equinox': ['AX'],
 'Transit Connect ბენზინი': ['LS'],
 'Accent': ['CT', 'K3'],
 'C 250 Amg': ['GF'],
 'Optima Sxl': ['GV'],
 'Smart Fortwo': ['EJ'],
 'X5 3.5': ['KR'],
 'Jetta se': ['D0', 'DP'],
 'Sonata 2.4L': ['E2'],
 'Ioniq': ['C7'],
 'Veracruz': [''],
 'Cruze LT RS': ['PE'],
 'C-MAX SE': ['DP'],
 '500 Abarth': ['CF'],
 'GS 350': ['BE', 'BZ', 'CE'],
 'E 220': ['21', '16'],
 'Optima HYBRID': ['GM', 'GT'],
 'IS 350': ['BE', 'FE', 'CE'],
 '330': ['8D', '02', 'KE'],
 'RS6': ['FF'],
 'A8': ['RV', 'RM'],
 'Malibu LTZ': ['1F'],
 'Elantra 2012': ['DH'],
 'CC r line': ['BP'],
 'Probe': ['02'],
 'GLE 450': ['ED'],
 'Fusion SE': ['6P'],
 'Focus TITANIUM': ['DP'],
 'C 230': ['RF'],
 'Outback': ['BS', 'BR', '01'],
 '1300': ['BL', 'BM'],
 '650': ['6B', 'LX'],
 'Crossfire': ['AN'],
 'A3': ['KJ', 'A7', 'B8'],
 'M3': ['8M'],
 'Genesis': ['GN', 'HU'],
 'X5 2007': ['FE'],
 'C-MAX C-MAX': ['DP'],
 'ML 350 4 MATIC': ['DA'],
 'M6': ['6C'],
 'Focus Se': ['DP'],
 'Alto': ['17'],
 'Camry SPORT': ['BF'],
 'Prius prius': ['KB'],
 '124 Spider': ['NF'],
 'RAV 4 hybrid': ['DJ'],
 '520': ['FJ'],
 '318': ['GF', 'SH'],
 'Prius TRIM 5': ['KN'],
 'M4': ['3R', '3U'],
 'Jetta სასწაფოდ': ['DZ'],
 'Octavia': ['CD'],
 'Mustang ecoboost': ['6P'],
 'Tiida': ['97', 'BC'],
 'X4': ['XW'],
 'CR-Z': ['ZF'],
 '2106': ['11', '75'],
 'Elantra LIMITED': ['DH'],
 'Patriot': ['NF'],
 'Passat B-8': ['BT'],
 'Z4': ['LM'],
 'Captiva': ['BB'],
 'C 350': ['GJ', 'GF'],
 '535 Diesel': ['XA'],
 'Elysion': ['-1'],
 'Camry Se': ['BF'],
 'Tiguan': ['BV', 'AV', 'V3'],
 'Elantra ლიმიტედი': ['DH'],
 'Camry LE': ['BF', 'BD'],
 '435 CUPE': ['3R'],
 'Optima hibrid': ['GM'],
 'A6 Premium': ['DF'],
 '616': ['GL', 'GJ'],
 'XC90 R-sport': ['CZ'],
 'FIT Sport': ['GE'],
 'GL 350 bluetec': ['BF'],
 'Serena': ['6', ''],
 'FX35': ['AS'],
 'IX35': ['JT'],
 'Passat SE': ['BT', 'BP'],
 'Rogue SL': ['AS'],
 'M5': ['FV', 'JF', 'NB'],
 'Elantra Se': ['D8'],
 'C-MAX Plug in ': ['DP'],
 'Land Cruiser': ['BY', 'LB', 'CB'],
 'Odyssey': ['RL'],
 'QX70': ['CS'],
 'CLA 250 2,0': ['SJ'],
 'Passat tdi sel': ['CN'],
 'IS 200': ['BA'],
 'Venza': ['BA'],
 'Mazda 3': ['BL', 'BK', 'BM'],
 'S 450': ['UG'],
 'Camry Hybrid XLE': ['BD'],
 'Combo': ['00', ''],
 'Outback limited': ['BR'],
 'E 220 CDI': ['ca'],
 'FIT sport': ['GE'],
 '3  TF 135': ['EF'],
 'Cruze RS': ['PG', 'BG'],
 'C 250 BLUEFIENCE': ['GF'],
 'Sequoia': ['BY'],
 '500 Sport': ['CF'],
 'Daimler': ['CK', 'WJ'],
 'Smart': ['FJ', '45'],
 'Q5 PREMIUM PLUS ': ['LF'],
 'Elantra GLS/LIMITED': ['DH'],
 'Mobilio': ['14'],
 'GL 350 BLUETEC': ['DF'],
 '530 GT': ['SP'],
 'Forte': ['FU'],
 'Yaris': ['DL', 'JT'],
 'GL 320 bluetec': ['BF'],
 'Juke 2015': ['AF'],
 'Crossroad': ['10'],
 'Caravan': ['RN'],
 'XF': ['WA', 'BX'],
 'Explorer Turbo japan': ['5K'],
 'Veloster R-spec': ['TC'],
 'Camry xle': ['BD'],
 'ML 300': ['DA'],
 'ML 550': ['DA'],
 'RAV 4 SPORT': ['RF'],
 'FIT PREMIUM': ['GK'],
 'Jetta hybrid': ['63'],
 'X3 3.5i': ['WX'],
 '500 turbo': ['CF'],
 'Compass': ['NJ'],
 'Tucson Se': ['J3'],
 'Passat S': ['AT'],
 'Viano': ['63'],
 'Volt restailingi': ['RD'],
 'Land Rover Sport': ['LS'],
 'GL 450': ['DF', 'BF'],
 'A6 premium plus': ['GG'],
 'CLS 550 550': ['DJ'],
 'CX-5 Touring': ['KE'],
 'Optima lx': ['GT'],
 '500X': ['CF'],
 'Encore': ['CJ'],
 'Montero': ['NW'],
 'Cruze sonic ': ['JE'],
 'ATS': ['AA'],
 'Sonata SE': ['E2'],
 'Avalon LIMITED ': ['BD'],
 '335 D': ['PN'],
 'EcoSport SE': ['6P'],
 'Prius plug-in': ['KN'],
 'GTI Jetta': ['FJ'],
 'MKZ hybrid': ['6L'],
 'A 160': ['16'],
 'Escape 3.0': ['CU'],
 'VOXY': ['HI', '38'],
 'Vitz': ['13', '1'],
 'X5 35d': ['ZW'],
 'Sonata hybrid': ['EC'],
 'GLK 350': ['GG'],
 'C30': ['EE'],
 'Optima EX': ['GN'],
 'S-type': ['WA'],
 'Clubman': ['ZF'],
 'E 350 4MATIC': ['HF'],
 'Focus titanium': ['DP'],
 '320 XI': ['8E'],
 'C-MAX Se': ['DP'],
 'Eclipse ES': ['AT'],
 '500C Lounge': ['CF'],
 'IS 300': ['CM'],
 'QX50': ['AJ', 'BJ'],
 'Navigator': ['FU', 'PU'],
 'Q60': ['CV'],
 '500 GUCCI': ['CF'],
 'Sorento EX': ['KU'],
 'HS 250h შშ': ['BB'],
 'Impreza Sport ': ['GT'],
 'S 55': ['22'],
 'X-Terra': ['AN'],
 'Escape SE': ['CU'],
 'Q7 S - Line': ['EY'],
 'Outlander SE': ['AP'],
 'Kicks SR-line': ['CP'],
 '230': ['64'],
 'Tucson LIMITED': ['J3'],
 '428 i': ['3N'],
 '100': ['CG'],
 'Caliber': ['CB'],
 'Insight TOURING': ['ZE'],
 'M37': ['BY'],
 'Rapid': ['ED'],
 'Mustang Premium': ['6P'],
 'Hr-v': ['RU'],
 'Passat 2.0 tfsi': ['AK'],
 'CLK 320': ['20'],
 'E 350 AMG': ['21', 'HF'],
 'EX30': ['CH', 'AJ'],
 'Juke Nismo RS': ['DF'],
 'Prius C YARIS IA': ['DL'],
 'Eclipse': ['ca', 'AS'],
 '320 I': ['3B'],
 'Golf TDI': ['MM', 'RA'],
 'Kizashi': ['RE'],
 'B9 Tribeca': ['WX'],
 'Sportage': ['PB', 'PM'],
 'Cruze LS': ['BC'],
 'Compass Latitude': ['NJ'],
 'X5 M/S': ['ZV'],
 'Tiguan SE': ['AV'],
 'S 320': ['00'],
 'Fusion Ecoboost': ['6P'],
 'Lantra LIMITED': ['D8'],
 'Prius Plug in': ['KN'],
 '435': ['3R'],
 'Mirage 2019': ['2F'],
 'Boxster': ['CA', 'CB'],
 'Outlander Sport': ['AP'],
 'Optima Hybrid': ['GM'],
 'Pajero': ['0R'],
 'Hr-v EX': ['RU'],
 'Forester XT': ['SJ'],
 'Dakota V8 magnum': ['HG'],
 '535 i xDrive': ['FU'],
 'XJ': ['AR'],
 'RX 400 hybrid': ['HW'],
 'Durango': ['RE'],
 'Crossland X': ['7'],
 'E-pace': ['FJ', 'CJ', 'CK'],
 'RIO lx': ['DM'],
 'Transit Connect': ['HX'],
 'C 400': ['WF'],
 'Cruze strocna': ['PC'],
 'Camaro LS': ['FE'],
 'GLE 400 Coupe, AMG Kit ': ['29'],
 'S6': ['BN'],
 'C 250 AMG': ['GJ'],
 'Crosstrek': ['GT', 'GP'],
 'X5 35D': ['FF', 'ZW'],
 'Corolla 04': ['BU'],
 'Juke SV AWD': ['AF'],
 'kona SEL': ['K6'],
 'Terios': ['UT'],
 'Volt Premier': ['RD'],
 'Vectra C': ['ca', '0Z'],
 'FIT LX': ['GK'],
 'ML 350 sport': ['BB'],
 'Camry XLE HYBRID': ['BD'],
 'Sonata LIMITED': ['EC'],
 'Prius V HYBRID': ['ZN'],
 'QX60': ['AL', 'DL'],
 'S3': ['B1'],
 'Fusion HYBRID SE': ['6P'],
 'A 220': ['3G'],
 'Routan SEL': ['RW'],
 'Fuga': ['35'],
 'Murano': ['AZ'],
 'Escape მერკური მერინერი': ['CU'],
 'Prius ჯბლ და ჰედაპი': ['KN'],
 '135': ['FR', 'UC'],
 '328 M package': ['3C'],
 'Toledo': ['42'],
 'Cooper F-56': ['XM'],
 'Land Cruiser Prado': ['BL', 'BX'],
 'Touran': ['ZZ'],
 '200': ['CC', '20'],
 '528 i': ['XG'],
 'Kicks SR': ['CP'],
 'CT 200h F sport': ['KD'],
 'ATS LUXURY': ['A9'],
 'A 140': ['0G'],
 'Optima ECO': ['GM'],
 'Tucson Limited': ['J3'],
 'R8': ['KB'],
 'ML 250': ['DA'],
 'GLK 250': ['GG'],
 '335 335i': ['VB'],
 'Kangoo Waggon': ['FW'],
 'E 240': ['21'],
 'Sonic': ['JA', 'JE', 'JB'],
 'Camry Sport': ['BF'],
 'Jetta sel': ['GZ'],
 'GLK 320': ['DA'],
 'XC60 R-Design': ['90'],
 'CL 500': ['PJ'],
 'Escape Hybrid': ['CU'],
 'C 250 AMG-PAKET-1,8': ['GF'],
 'Mondeo': ['7', 'W'],
 'CC': ['ZZ'],
 'Trax 1LT': ['CJ'],
 '128 3,0': ['UP'],
 'Edix': ['11'],
 'Sprinter 308 CDI': ['ca'],
 '500 Lounge': ['CF'],
 'C 300 4matic': ['GF'],
 'X5 DIESEL': ['ZW'],
 'Optima SX': ['GM'],
 'XC90': ['CZ'],
 'E 350 CGI': ['21'],
 'XV crosstrek': ['GP'],
 'Fusion Titanium': ['6P'],
 'Q50 S Red': ['BV'],
 'Skyline': ['1'],
 'Passat R-line': ['AT'],
 'X5 XDRIVE 35D': ['ZW'],
 'Cerato K3': ['FJ'],
 'Mariner': ['CU'],
 'E 350 4 matic': ['HF'],
 'Ist': ['54', 'R4'],
 'Cruze Premier': ['BG'],
 'C 30 AMG': ['GF'],
 'Cruze L T': ['PC'],
 'Megane': ['DA'],
 'Actyon': ['CA'],
 '456': ['67'],
 'CLA 200': ['SJ'],
 'X5 4x4': ['ZW'],
 'Golf GTI': ['5T'],
 'Sonata HYBRID': ['EC'],
 'Charger': ['68'],
 'Quest LIMITED': ['AE'],
 'Grand Cherokee limited': ['HR'],
 'RAV 4 XLE': ['WF'],
 'Sonata SPORT': ['E3'],
 'ML 350 BLUETEC': ['BB'],
 'Malibu eco': ['1D'],
 'Fusion SE HYBRID ': ['6P'],
 'Jetta SPORT': ['D1'],
 'Cooper CLUBMAN': ['ML'],
 'Cube': ['AZ'],
 'Focus SEL': ['HP'],
 'Land Cruiser Prado LC150': ['BH'],
 'Camry S': ['B2'],
 'ML 320 DIESEL': ['BB'],
 'E 350 amg': ['HF'],
 'CL550 AMG': ['EJ'],
 'Q5 Premium': ['KK'],
 'Sonata Hybrid': ['EC'],
 'Avalon LIMITED': ['BD'],
 'March': [''],
 'Century': ['KH'],
 'XV premium': ['GP'],
 'Juke S': ['AF'],
 '535 i': ['FR'],
 'Vento': ['ZZ'],
 'A6 SUPRECHARGE': ['HG'],
 'X5 XDRIVE': ['FF'],
 'Fusion PLAGIN': ['6P'],
 'ML 400': ['DA'],
 'Corolla IM': ['KA'],
 'X3 SDRIVE': ['WZ'],
 'E 350 Amg': ['HF'],
 'M5 Stoki': ['NB'],
 'Montero Sport': ['11'],
 'Civic Hybrid': ['FB'],
 'Liberty KK': ['PN'],
 'RAM PROMASTER CITY Print': ['ER'],
 'E 200 cdi': ['21'],
 'Bentayga': ['AC'],
 'Mulsanne': ['BG'],
 'S8': ['K2'],
 'SOUL SXL': ['JX'],
 'Camry SEDAN': ['BF'],
 'Focus ST': ['DP'],
 'Sonata ECO': ['E2'],
 'Forester legacy': ['BN'],
 '500 SPORT': ['CF'],
 '323': ['AM'],
 'A4 S line': ['KF'],
 'Range Rover Evoque რესტა': ['VP'],
 '2107': ['OO'],
 'Prius 3': ['KN'],
 'X6 35i': ['FG'],
 'Mazda 3 GT': ['BM'],
 'Micra': ['SA'],
 'Optima ECOHYBRID': ['GN'],
 'Freelander': ['LN'],
 '300': ['GF'],
 'Camry XV50': ['BF'],
 'Frontier PRO-4X': ['AD'],
 'Explorer': ['5K']}

In [205]:
def set_vin(wmis, vdcs, df):
    """ This function set vin-codes for empty cells
        using vendor and model information

    Args:
        wmis (dictionary of the lists of the codes) like {'manufacturer": ['JTG', '1T4', ... 'JTD']} 
        vdcs (dictionary of the lists of the codes) like {'model": ['XC', 'SD', ... 'SC']}
        df (pandas.DataFrame): The source dataframe

    Returns:
        pandas.DataFrame: output dataframe
    """
    for row in df.index:
        car_vin = str(df['car_vin'].iloc[row])
        
        if car_vin in ['nan', 'NaN']:
            vendor = str(df['vehicle_manufacturer'].iloc[row])
            model = str(df['vehicle_model'].iloc[row])
            
            if vendor in wmis.keys():
                car_vin = wmis[vendor][0]
            else:
                car_vin = 'nan'
            if model in vdcs.keys():
                car_vin += vdcs[model][0]
        else:
            car_vin = car_vin[1:6]
        df['car_vin'].iloc[row] = car_vin
                
    return df

In [206]:
train_data = set_vin(wmis, vdcs, train_data)

/home/freeradical/anaconda3/envs/sf/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [207]:
train_data['car_vin'].value_counts()

KMHEC    1555
JTNKN    1298
KMHJU    1135
KMHD7    1069
JTDKN     909
         ...
WOL00       1
WMWXS       1
JTDJT       1
ASTRA       1
1N6AD       1
Name: car_vin, Length: 1128, dtype: int64

In [11]:
%%time
import category_encoders as ce

def create_expert_feats(data):
    
    # 1 ++ 
    def modify_car_vin(car_vin):
        if car_vin != np.nan:
            car_vin = str(car_vin)
        else:
            return car_vin
        if len(car_vin) < 11:
            return car_vin
        else:
            return car_vin[:11]
    data['car_vin'] =  data['car_vin'].apply(modify_car_vin)
    
    # 2 +-0
    #создаем словарь имя столбца: число(признак) на который надо заменить пропуски
#     values = {
#         'doors_cnt': data['doors_cnt'].mode()[0],
#         'vehicle_color': data['vehicle_color'].mode()[0],
#         'vehicle_interior_color': data['vehicle_interior_color'].mode()[0]
#     }
#     #заполняем пропуски в соответствии с заявленным словарем
#     data = data.fillna(values)

    # 3 +++
    data['car_wearout_ratio'] = 1e6/((2022 - data['vehicle_year'])*data['current_mileage'])
    
    # 4
#     bin_encoder = ce.BinaryEncoder(cols=['vehicle_category'])
#     type_bin = bin_encoder.fit_transform(data['vehicle_category'])
#     data = pd.concat([data, type_bin], axis=1)
    
#     bin_encoder = ce.BinaryEncoder(cols=['vehicle_gearbox_type'])
#     type_bin = bin_encoder.fit_transform(data['vehicle_gearbox_type'])
#     data = pd.concat([data, type_bin], axis=1)

    display(data.head(3))
    return data
   
train_data = create_expert_feats(train_data)
test_data = create_expert_feats(test_data)

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type,final_price,car_wearout_ratio
0,0,TOYOTA,Aqua s,Sedan,133000,2014,Automatic,4/5,Right-hand drive,Silver,Black,nan,0,For Sale,3650.0,0.939850
1,1,MERCEDES-BENZ,C 220,Sedan,24500,2010,Manual,4/5,Left wheel,Silver,Black,nan,0,For Sale,6800.0,3.401361
2,2,HYUNDAI,Veloster,Hatchback,31000,2016,Tiptronic,2/3,Left wheel,Silver,Black,KMHTC6AE3G,1,For Sale,6300.0,5.376344

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type,car_wearout_ratio
0,35000,TOYOTA,Prius,Hatchback,323733,2012,Automatic,4/5,Left wheel,Grey,Black,JTDKN3DU6C,1,For Sale,0.308897
1,35001,HYUNDAI,Elantra,Sedan,112000,2013,Tiptronic,4/5,Left wheel,Grey,Black,SURATSHIA,1,For Sale,0.992063
2,35002,LEXUS,NX 300,Jeep,16920,2018,Automatic,NaN,Left wheel,Brown,NaN,JTJYARBZ5J,1,For Sale,14.775414

CPU times: user 72.6 ms, sys: 8.06 ms, total: 80.6 ms
Wall time: 113 ms

In [ ]:
tr_data, te_data = train_test_split(
    train_data, 
    test_size=TEST_SIZE, 
    random_state=RANDOM_STATE
)

print(f'Data splitted. Parts sizes: tr_data = {tr_data.shape}, te_data = {te_data.shape}')

tr_data.head()

In [ ]:
task = Task('reg', loss = 'mae', metric = 'mae')

In [ ]:
roles = {
    'target': TARGET_NAME,
    'drop': ['row_ID']
}